/* header */
#header .collapse{
    margin: auto;
}

/* about */
#about {
    background-color: #F7F7F7;
    padding: 100px  50px 5px 50px;
}
#about h1{
    font-size: 50px;
    font-weight: 700;
}
#about .btn{
     width:300px;
}

/* skills */
#skills{
    padding: 50px 70px;
}
#skills .card{
    padding:  10px 20px 10px 25px;
    border-radius: 12px;
    margin-top: 10px;
    box-shadow:0 0  10px  rgba(0, 0, 0, 0.2);
}
#skills h4{
    margin-bottom: 20px;
}
#skills .skill{
    margin-bottom: 8px;
}
#skills .col-2{
    font-size: 25px;
}
#skills .col-10{
    font-size: 18px;
}


/* education */
#education{
    background-color: #8E806A;
    padding: 30px 50px 0 50px;
    height: 450px;
}
#education .card{
     text-align: center;
     max-width: 450px;
     margin: auto;
}
#education  .carousel-control-prev{

}
#education  .carousel-control-next{

}
#education  .carousel-indicators{
    position: absolute;
    top:330px;
}
#education .college{
     font-size: 25px;
     font-weight: 700;
}
#education .degree{
    font-size: 20px;
    font-weight: 600;
}
#education .spec{
    font-size: 17px;
    font-weight: 500;
}
#education .year{
    font-size: 13px;
    font-weight: 400;
}
#education .grade{
    font-size: 16px;
    font-weight: 550;
}

/* projects */
#projects{
    background-color: #98BAE7;
    padding: 50px 50px;
}
#projects .card{
     border-radius: 10px;
     padding: 0;
     box-shadow:0 0  10px  rgba(0, 0, 0, 0.2);
}
#projects img{
    border-radius: 10px 10px 0 0;
    margin: 0;
}
#projects .project-desc{
     padding: 15px 20px 20px 20px;
}
#projects h6{
     font-size: 20px;
     font-weight: 650;
}
#projects .col-6{
  padding: 0;
}
#projects .btn{
    width: 120px;
    margin-left: 15px;
}

/* experience */
#experience{
    background-color: #d7dbe0;
    padding: 50px 50px;
}
#experience .card{
    text-align: center;
    border-radius: 10px;
    box-shadow:0 0  10px  rgba(0, 0, 0, 0.2);
}
#experience img{
    margin: 0 auto;
    height:150px;
    width: 160px;
    border-radius: 80px;
}
#experience p{
   margin: 0;
}
#experience .exp{
    padding: 0 20px 15px 20px;
 }
#experience .role{
    font-size: 20px;
    font-weight: 700;
}
#experience .company{
    font-size: 17px;
    font-weight: 620;
}
#experience .date{
    font-size: 14px;
}
#experience .desc{
    padding-top:8px ;
}

/* contact */
#contact{
    background-color: #FFBC97;
    padding: 20px 150px 10px 150px;
}
#contact img{
    height: 30px;
}
#contact p{
    font-size: 13px;
}
#contact .col-6{
    text-align: center;
}

/* footer */
#footer{
    text-align: center;
    padding: 0;
    font-size: 15px;
}
#footer p{
    margin: 0;
}


@media (max-width:480px){
    /* about */
#about {
    padding: 100px  10px 5px 10px;
}
#about h1{
    font-size: 50px;
    font-weight: 700;
}
   
/* skills */
#skills{
    padding: 30px 8% 20px 8%;
}
#skills .card{
    padding:  10px 20px;
    margin-top: 20px;
}

/* education */
#education{
    padding: 30px 8% 20px 8%;
    height: 450px;
}
#education .card{
     max-width: 300px;
}
#education  .carousel-control-prev{
    position: absolute;
    left:-35px;
    top:0;
}
#education  .carousel-control-next{
    position: absolute;
    left:300px;
    top:0;

}
#education  .carousel-indicators{
    position: absolute;
    top:330px;
}

/* projects */
#projects{
    padding: 30px 8% 20px 8%;
}
#projects .card{
    margin-top:20px;
}

/* experience */
#experience{
    padding: 30px 8% 20px 8%;
}
#experience .card{
    margin-top:20px;
}

/* contact */
#contact{
    padding: 20px 18% 10px 18%;
}

/* footer */
#footer{
    font-size: 10px;
}

}


